{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block container %}
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="page-next-level">
                <h4 class="title">{% trans "Blog / News" %}</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->
{% endblock %}
